﻿@model IEnumerable<UMS.Models.ResultEntry>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Course.Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Grade.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Student.Name)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Course.Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Grade.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Student.Name)
        </td>
    </tr>
}

</table>
