﻿@model IEnumerable<UMS.Models.ResultEntry>

@{
    ViewBag.Title = "View Result";
}


<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/jquery-2.1.4.min.js"></script>

<h2>View Result</h2>
@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <hr/>
      
        <div class="form-group">
            <label class="control-label col-md-2">Student Reg. No. </label>
            <div class="col-md-10">
                @Html.DropDownList("StudentId", string.Empty)
            </div>
        </div>

        <div id="studentInfo">
            @Html.Partial("~/Views/shared/_studentInformation.cshtml")
        </div>

        <div id="result_Data">
            @Html.Partial("~/Views/Shared/_ResultInformation.cshtml")
        </div>
    </div>
    
}


<script type="text/javascript">
    function FillData(id) {
        $('#studentInfo').load('@Url.Action("StudentInfoLoad")', { studentId: id });
        $('#result_Data').load('@Url.Action("ResultInfoLoad")', { studentId: id });
    }

    $(function () {
        $('#StudentId').change(function () {
            var id = $('#StudentId').val();
            FillData(id);
        });
    });

</script>