﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img alt="Smiley face" align="middle"  src="~/Image/ologo.png" />
</div>

<div class="row">
    <div class="col-md-4">
        <h2 align="center">Overview</h2>
        <p>
            As the center of excellence, university is the brain-stem for the modern and post-modern global civilization. None can deny the extra-ordinary gravitas of the presence of such an abode of knowledge, learning and research. Therefore, with this objective, the establishment of the University of Information Technology & Sciences (UITS) was heralded in August 7, 2003. With the noble dream Alhaj Su Mohamed Mizanur Rahman, the Chairman of the PHP Family and Chairman of the Board of Trustees of UITS whistled the start of the University to his team and close associates of higher learning and knowledge. In this great land of ancient history, culture, religion and civilization, UITS from its very inception has made a great success as the private university in imparting world class knowledge and higher education to its thousands of students. The name and fame of the University, so far, have attracted not only the attention of the tens of thousands of under-graduate students of Bangladesh, but also of the foreign students. The heart-warming guiding spirit and slogan of our Chairman behind this great endeavor is “Divine blessings mixed with hard work and backed by good intentions can make miracles”, which makes all of us in the University courageous, strong, and hopeful in carrying out the nest goals and missions of the UITS. Our caravan of knowledge searchers is advancing rapidly with the divine declaration: “Future will be better than thy past”. Vision of UITS University of Information Technology and Sciences (UITS), the first Information Technology (IT) based private university, is the vanguard of all IT universities in Bangladesh. UITS quickly paved the rough path for other technology based universities to follow. The University served as a nonprofit organization accredited by the University Grants Commission and approved by the Ministry of Education, Government of Bangladesh.
        </p>
        
    </div>
    <div class="col-md-4">
        <h2>History and Traditions</h2>
        <p>University of Information Technology and Sciences (UITS), the first IT-based private University in Bangladesh was founded in 7 August 2003 as a non-profit organization. INFORMATION SCIENCE AND TECHNOLOGY SOLUTION LTD. (ISTS), a concern of PHP group headed by Alhaj Sufi Mohamed Mizanur Rahman Chowdhury is the sponsor of UITS. The guiding spirit behind the endeavor is "divine blessings, mixed with hard work, backed by good intentions, make miracles."

The government was pleased to accord permission with effect from 07 August 2003 to function this University as per its Vision, Mission, Goals and Commitment to Quality Education with a view to shape a complete,effective and efficient humane power. It endeavors to remain at the cutting edge of building knowledge and skills, integrated with human values and ethical practices in Bangladesh. It is a science and technological knowledge-based center that provides marketable skills for younger generations who may be gainfully employed both national and international organizations.
</p>
        
    </div>
    <div class="col-md-4">
        <h2>Future Planning</h2>
        <p>To develop a skilled, competent and innovative pool of youth who are to exploit emerging opportunities, invent new technologies in selected fields of development, and at the same time be employable at home and abroad. The UITS will develop itself into a unique private university through: Strengthening research, creative, and scholarly endeavors. Improving undergraduate and graduate academics which promote intellectual development and student success through a diverse, student-centered environment Strengthening cultural and community life, and promoting lifelong learning and economic opportunity.</p>
    </div>
</div>