﻿@model UMS.Models.RoomAllocation
@{
    ViewBag.Title = "Create";
}

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/jquery-2.1.4.min.js"></script>
<h2>Allocate Class Rooms</h2>
<h4 style="color: forestgreen">@TempData["Message"]</h4>
<h4 style="color: firebrick">@TempData["Error"]</h4>
<h4 style="color:firebrick">@TempData["Overlapping"]</h4>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    
    <div class="form-horizontal">
        
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.DepartmentId, "Department", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("DepartmentId", String.Empty)
                @Html.ValidationMessageFor(model => model.DepartmentId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CourseId, "Course", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CourseId", String.Empty)
                @Html.ValidationMessageFor(model => model.CourseId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RoomId, "Room No", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("RoomId", String.Empty)
                @Html.ValidationMessageFor(model => model.RoomId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DayId, "Day", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("DayId", String.Empty)
                @Html.ValidationMessageFor(model => model.DayId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.From, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.From)
                @Html.ValidationMessageFor(model => model.From)
            </div>
        </div>
        <div><h3 style="color: crimson">@TempData["ErrorMessage4"]</h3></div>
        <div><h3 style="color: crimson">@TempData["ErrorMessage1"]</h3></div>

        <div class="form-group">
            @Html.LabelFor(model => model.To, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.To)
                @Html.ValidationMessageFor(model => model.To)
            </div>
        </div>
        <div><h3 style="color: crimson">@TempData["ErrorMessage5"]</h3></div>
        <div><h3 style="color: crimson">@TempData["ErrorMessage2"]</h3></div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Allocate" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<script type="text/javascript">
    function FillData(id) {
        $('#CourseId').load('@Url.Action("LoadCourse")', { departmentId: id });

    }


    $(function () {
        $('#DepartmentId').change(function () {
            var id = $('#DepartmentId').val();
            FillData(id);
        });

    });
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
