﻿@{
    ViewBag.Title = "Unallocate Class Rooms";
}

@using (Html.BeginForm("UnallocateClassRooms", "RoomAllocation"))
{
    <div class="form-horizontal">
        <hr />
        <div style="color:Red" align="center"><h2>@ViewBag.message</h2></div>
        <input name="submit" type="submit" value="Unallocate Rooms" onclick="javascript: return Postsubmit();" />
    </div>
}

<script>
    function Postsubmit() {
        var result = confirm("Are your sure. Do you want to Unallocated Class Rooms ?");
        if (result) {
            return true;
        } else {
            return false;
        }
    }

</script>
