﻿
@{
    ViewBag.Title = "AssignConfirmed";
}

<h2>Assign Confirmed</h2>

<div><h3 style="color: chocolate">@TempData["Already"]</h3></div>
<p class="btn btn-info">
    @Html.ActionLink("Assaign Course", "Create")
</p>

