﻿@model UMS.Models.AssignCourse

@{
    ViewBag.Title = "Create";
}
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/jquery-2.1.4.min.js"></script>

<h2>Course Assign to Teacher</h2>
<h3 style="color:forestgreen">@TempData["success"]</h3>
<h3 style="color: firebrick">@TempData["Already"]</h3>
<h2 style="text-align: center;color: forestgreen">@ViewBag.message</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)

        <fieldset>
            
            <div class="form-group">
                @Html.LabelFor(model => model.DepartmentId, "Department", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("DepartmentId", String.Empty)
                    @Html.ValidationMessageFor(model => model.DepartmentId)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.TeacherId, "Teacher", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.Partial("_FillteredTeacher")
                    @Html.ValidationMessageFor(model => model.TeacherId)
                </div>
            </div>
            <div id="teacherInfo">
                @Html.Partial("~/Views/Shared/_TeachersCreditInfo.cshtml")
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CourseId, "Course ", new {@class="control-label col-md-2"})
                <div class="col-md-10">
                    @Html.Partial("_FilteredCourse")
                    @Html.ValidationMessageFor(model => model.CourseId)
                </div>
            </div>
            <div id="courseInfo">
                @Html.Partial("~/Views/Shared/_CourseInfo.cshtml")
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Assign" class="btn btn-success"/>
                </div>
            </div>
        </fieldset>
    </div>
}
<script type="text/javascript">
    function FillData(id) {

        $('#TeacherId').load('@Url.Action("LoadTeacher")', { departmentId: id });
        $('#CourseId').load('@Url.Action("LoadCourse")', { departmentId: id });

    }
    function FillTeacherInfo(id) {

        $('#teacherInfo').load('@Url.Action("TeacherInfoLoad")', { teacherId: id });

    }
    function FillCourseInfo(id) {

        $('#courseInfo').load('@Url.Action("CourseInfoLoad")', { courseId: id });

    }

    $(function () {
        $('#DepartmentId').change(function () {
            var id = $('#DepartmentId').val();
            FillData(id);
        });
        $('#TeacherId').change(function () {
            var id = $('#TeacherId').val();
            FillTeacherInfo(id);
        });
        $('#CourseId').change(function () {
            var id = $('#CourseId').val();
            FillCourseInfo(id);
        });
    });
</script>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
