﻿@model IEnumerable<UMS.Models.AssignCourse>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Course.Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Department.Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Teacher.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreditTaken)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RemaingCredit)
        </th>
        
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Course.Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Department.Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Teacher.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreditTaken)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RemaingCredit)
        </td>
        
    </tr>
}

</table>
