﻿@{
    ViewBag.Title = "Unassing Courses";
}

@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <hr/>
        <div style="color:Red" align="center"><h2>@ViewBag.message</h2></div>
        <input name="submit" type="submit" value="Unassing Courses" onclick="javascript: return Postsubmit();" />
    </div>
}

<script>
    function Postsubmit() {
        var result = confirm("Are your sure. Do you want to Unassigned All Course ?");
        if (result) {
            return true;
        } else {
            return false;
        }
    }

</script>

