﻿<div id="CourseInfo">
    <div class="form-group">
        @Html.Label("Course Code :", new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @ViewBag.Code
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Credit  :", new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @ViewBag.Credit
        </div>
    </div>
</div>