﻿@model IEnumerable<UMS.Models.Course>
<table class="table table-striped text-center">
    <tr>
        <th style="text-align: center;">
            Course Code
        </th>
        <th style="text-align: center;">
            Name
        </th>
        <th style="text-align: center;">
            Schedule Info
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @foreach (var anAllocatedRoom in item.RoomAllocationList)
                {
                    <b>Room:</b>
                    @Html.DisplayFor(modelItem => anAllocatedRoom.Room.Name)
                    <i>,</i>
                    @Html.DisplayFor(modelItem => anAllocatedRoom.Day.Name)
                    <i>,</i>
                    @Html.DisplayFor(modelItem => anAllocatedRoom.From)
                    <i>-</i>
                    @Html.DisplayFor(modelItem => anAllocatedRoom.To)
                    <b><i>;</i></b>
                }
                @if (item.RoomAllocationList.Count == 0)
                {
                    <i>Not Scheduled Yet</i>
                }
            </td>
        </tr>
    }
</table>
<div style="color: darkgoldenrod"><h3>@ViewBag.NoCourse</h3></div>
