﻿<div id="StudentInfo">
    <div class="form-group">
        @Html.Label("Name :", new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @ViewBag.Name
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Email : ", new {@class="control-label col-md-2"})
        <div class="col-md-10">
            @ViewBag.Email
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Department : ", new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @ViewBag.Dept
        </div>
    </div>
</div>
