﻿
<div id="TeacherInfo">
    <div class="form-group">
        @Html.Label("Credit to be taken :", new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @ViewBag.Credit
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Remaining Credit  :", new {@class="control-label col-md-2"})
        <div class="col-md-10">
            @ViewBag.RemainingCredit
        </div>
    </div>
</div>
